.box{
    display:inline-block;
    height:150px;
    width:150px;
}

.red{
    background-color: red;
}

.green{
    position:relative;
    top:20px;
    left:20px;
    background-color: green;
}

.blue{
    background-color: blue;
}

#overflow{
    height:200px;
    width:200px;
    background-color: rgba(255,0,0,0.6);
}

p + p{
    font-size:32px;
    color:pink;
}